profiles {
    apptainer {
	    apptainer {
	        enabled = true
	        autoMounts = true
	        libraryDir = "$HOME/.apptainer/cache/library/"
            cacheDir = "$HOME/.apptainer/cache/"
			runOptions = '--writable-tmpfs'
			pullTimeout = '1h'
	    }
    }
} 

# https://apptainer.org/docs/user/main/build_env.html
# If you change the value of APPTAINER_CACHEDIR be sure to choose a location that is:
# - Unique to you. Permissions are set on the cache so that private images cached for one user are not exposed to another. This means that Apptainer cache directories cannot be shared across users.
# - Located on a filesystem with sufficient space for the number and size of container images you anticipate using.
# - Located on a filesystem that supports atomic rename, if possible.