profiles {
    slurm_local {
        process {
            executor = 'local'
            cpus = 1
	        memory = '4GB'
	        maxForks = 32
	        cleanup = true
	}

	params {
    	threads = 1
    	ubam_map_threads = 1
    	ubam_sort_threads = 1
    	ubam_bam2fq_threads = 1
	}

        apptainer {
            enabled = true
            autoMounts = true

            cacheDir = "/lustre09/project/6019267/shared/tools/main_pipelines/long-read/epi2me_cache/"

            pull = false

            runOptions = '--writable-tmpfs'

            envWhitelist = 'NXF_DEFAULT_CPUS,NXF_DEFAULT_MEMORY,SLURM_CPUS_PER_TASK'
        }
    }
}
