profiles {
    apptainer {
	    apptainer {
	        enabled = true
	        autoMounts = true
	        libraryDir = "/lustre09/project/6019267/shared/tools/main_pipelines/long-read/epi2me_library/"
            cacheDir = "/lustre09/project/6019267/shared/tools/main_pipelines/long-read/epi2me_cache/"
			runOptions = '--writable-tmpfs'
			pullTimeout = '1h'
	    }
        process {
            executor = 'slurm'
            cpus = 40
            memory = '128 GB'
            clusterOptions = '--cpus-per-task=40 --mem 128G --account=rrg-tetreaum'
        }
    }
} 